body {
    background-color: #E67BAB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    height: 200px;
    width: 200px;
    box-shadow: 0 5px 0 whitesmoke;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

p {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-size: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}